.app-wrapper
    header
        .container
            nav.navbar.navbar-inverse
                .navbar-header
                    a.navbar-brand( href="#" ) My Roating App
                ul.nav.navbar-nav
                    li
                        a( routerLink="" ) Home
                    li
                        a( routerLink="about" ) About
                    li
                        a( routerLink="contact" ) Contact
    
    main
        .container
            router-outlet
    
